/*
	Select breakpoints are 20rem through 60rem
	Side panel opens at 60rem or greater, adds about 20rem
*/
.selectTertiary ion-select::part(text) {
	color: var(--ion-color-tertiary);
}

.settingsPage :is(.cxs,.cs,.cm,.cl,.cxl) { display: none; }
@media (max-width: 20rem) {
	.settingsPage .cnone { display: none; }
}
@media (20rem < width < 30rem) {
	.settingsPage .cxs { display: initial; }
}
@media (30rem < width < 40rem) {
	.settingsPage .cs { display: initial; }
}
@media (40rem < width < 50rem), (60rem < width < 70rem) {
	.settingsPage .cm { display: initial; }
}
@media (70rem < width < 80rem), (60rem > width > 50rem) {
	.settingsPage .cl { display: initial; }
}
@media (min-width: 80rem) {
	.settingsPage .cxl { display: initial; }
}

ion-content {
	--base-width: calc(100vw - 3rem);
}

@media (60rem < width) {
	ion-content {
		--base-width: calc(100vw - 23rem);
	}
}

.constraintXS ion-item:not(.mainItem) :is(ion-label, ion-label p),
.constraintXS div.simple :is(
	p, blockquote, td, th, li, aside, div:is(.p, .capstones, .columnar, .table, .constrained), table.p
),
.constraintXS :is(ion-item, .main) div:is(.p, .capstones, .columnar, .table, .constrained) {
	max-inline-size: min(var(--base-width), 20rem);
}
.constraintXS div.tableWrap {
	max-inline-size: min(calc(var(--base-width) - 2rem), 18rem);
}
.constraintXS div.tabular {
	max-inline-size: min(calc(var(--base-width) - 4rem), 16rem);
}
.constraintXS :is(.subAbility,.subTrait) {
	max-inline-size: min(calc(var(--base-width) - 2.5rem), 17.5rem) !important;
}

.constraintS :is(ion-label,ion-label > p),
.constraintS div.simple :is(
	p, blockquote, td, th, li, aside, div:is(.p, .capstones, .columnar, .table, .constrained), table.p
),
.constraintS :is(ion-item, .main) div:is(.p, .capstones, .columnar, .table, .constrained) {
	max-inline-size: min(var(--base-width), 30rem);
}
.constraintS div.tableWrap {
	max-inline-size: min(calc(var(--base-width) - 2rem), 28rem);
}
.constraintS div.tabular {
	max-inline-size: min(calc(var(--base-width) - 4rem), 26rem);
}
.constraintS :is(.subAbility,.subTrait) {
	max-inline-size: min(calc(var(--base-width) - 2.5rem), 27.5rem) !important;
}

.constraintM :is(ion-label,ion-label > p),
.constraintM div.simple :is(
	p, blockquote, td, th, li, aside, div:is(.p, .capstones, .columnar, .table, .constrained), table.p
),
.constraintM :is(ion-item, .main) div:is(.p, .capstones, .columnar, .table, .constrained) {
	max-inline-size: min(var(--base-width), 40rem);
}
.constraintM div.tableWrap {
	max-inline-size: min(calc(var(--base-width) - 2rem), 38rem);
}
.constraintM div.tabular {
	max-inline-size: min(calc(var(--base-width) - 4rem), 36rem);
}
.constraintM :is(.subAbility,.subTrait) {
	max-inline-size: min(calc(var(--base-width) - 2.5rem), 37.5rem) !important;
}

.constraintL :is(ion-label,ion-label > p),
.constraintL div.simple :is(
	p, blockquote, td, th, li, aside, div:is(.p, .capstones, .columnar, .table, .constrained), table.p
),
.constraintL :is(ion-item, .main) div:is(.p, .capstones, .columnar, .table, .constrained) {
	max-inline-size: min(var(--base-width), 50rem);
}
.constraintL div.tableWrap {
	max-inline-size: min(calc(var(--base-width) - 2rem), 48rem);
}
.constraintL div.tabular {
	max-inline-size: min(calc(var(--base-width) - 4rem), 46rem);
}
.constraintL :is(.subAbility,.subTrait) {
	max-inline-size: min(calc(var(--base-width) - 2.5rem), 47.5rem) !important;
}

.constraintXL :is(ion-label,ion-label > p),
.constraintXL div.simple :is(
	p, blockquote, td, th, li, aside, div:is(.p, .capstones, .columnar, .table, .constrained), table.p
),
.constraintXL :is(ion-item, .main) div:is(.p, .capstones, .columnar, .table, .constrained) {
	max-inline-size: min(var(--base-width), 60rem);
}
.constraintXL div.tableWrap {
	max-inline-size: min(calc(var(--base-width) - 2rem), 58rem);
}
.constraintXL div.tabular {
	max-inline-size: min(calc(var(--base-width) - 4rem), 56rem);
}
.constraintXL :is(.subAbility,.subTrait) {
	max-inline-size: min(calc(var(--base-width) - 2.5rem), 57.5rem) !important;
}

/*
	The 'columnar' class attempts to split
	giant lists into vertical columns.
*/

div.columnar {
	margin-inline: 0;
	margin-block: 1em;
}
div.columnar :is(ul,ol) {
	margin-block: 0;
}
@media (34rem > width > 25rem) {
	div.columnar:not(.max2) {
		columns: 2
	}
}
@media (55rem > width > 34rem) {
	div.columnar:not(.max2) {
		columns: 3
	}
}
@media (min-width: 55rem) {
	div.columnar {
		columns: 4
	}
	div.columnar.max3 {
		columns: 3
	}
	div.columnar.max2 {
		columns: 2
	}
}

