/* Modals */

ion-modal ion-list[lines=full] {
	padding-block-start: 0;
	padding-block-end: 0;
}

ion-modal ion-item.item ion-label.picker {
	cursor: pointer;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
}

ion-modal ion-item.item ion-label.picker ion-text.pickedText {
	color: var(--pickedColor, var(--ion-color-primary));
	border-bottom: 1px solid var(--pickedColor, var(--ion-color-primary));
	min-width: 2rem;
	display: inline-block;
	text-align: center;
	margin-inline: 1rem;
}
ion-modal ion-item.item ion-label.picker ion-text.pickedText::before {
	color: var(--ion-text-color);
	font-weight: bold;
	font-style: normal;
	content: '[ '
}
ion-modal ion-item.item ion-label.picker ion-text.pickedText::after {
	color: var(--ion-text-color);
	font-weight: bold;
	font-style: normal;
	content: ' ]'
}

ion-modal.pickerSheet {
	--height: calc((1.25rem * 13) + 3rem);
}
ion-modal.pickerSheet ion-content {
	display: flex;
	flex-flow: column nowrap;
	justify-content: safe center;
}

ion-picker.myPicker ion-picker-column {
	font-size: 1.25rem;
}
ion-picker.myPicker ion-picker-column [slot=prefix] {
	font-size: 1.5rem;
	max-width: 100%;
}
