/* Archetypes */

div.archetype {
	margin: 1em 0;
}
div.archetype p {
	font-weight: bold;
	margin: 0;
}
div.archetype p:nth-child(n+2) {
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: normal;
	text-indent: 1.5em;
}

/* About */

ion-list.aboutPage {
	padding-block: 0;
}
ion-list.aboutPage p.icons {
	display: grid;
	gap: 0.75rem;
	justify-items: center;
	justify-content: space-around;
}
ion-list.aboutPage p.icons {
	grid-template-columns: repeat( auto-fit, minmax(2.75rem, 1fr) );
}
@media (width >= 87.5rem) { /* Base */
	ion-list.aboutPage p.icons.icons24 {
		grid-template-columns: repeat(24, 1fr);
	}
}
@media (35.5rem <= width < 87.5rem) { /* 12 per row */
	ion-list.aboutPage p.icons.icons24 {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(2, auto);
	}
}
@media (23.5rem <= width < 35.5rem) { /* 8 per row */
	ion-list.aboutPage p.icons.icons24 {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(3, auto);
	}
}
@media (17.5rem <= width < 23.5rem) { /* 6 per row */
	ion-list.aboutPage p.icons.icons24 {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(4, auto);
	}
}
@media (15.5rem <= width < 17.5rem) { /* 4 per row */
	ion-list.aboutPage p.icons.icons24 {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(6, auto);
	}
}
@media (width > 78rem) { /* Base */
	ion-list.aboutPage p.icons.icons16 {
		grid-template-columns: repeat(16, 1fr);
	}
}
@media (60rem <= width <= 78rem) { /* 8 per row */
	ion-list.aboutPage p.icons.icons16 {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(2, auto);
	}
}
@media (57.5rem < width < 60rem) { /* Base, again */
	ion-list.aboutPage p.icons.icons16 {
		grid-template-columns: repeat(16, 1fr);
		grid-template-rows: auto;
	}
}
@media (23.5rem <= width < 57.5rem) { /* 8 per row */
	ion-list.aboutPage p.icons.icons16 {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(2, auto);
	}
}
@media (23.5rem <= width < 42.5rem) { /* 8 per row */
	ion-list.aboutPage p.icons.icons16 {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(2, auto);
	}
}
@media (15.5rem <= width < 23.5rem) { /* 4 per row */
	ion-list.aboutPage p.icons.icons16 {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, auto);
	}
}
ion-list.aboutPage ion-icon {
	color: var(--ion-text-color);
	width: 2rem;
	height: 2rem;
}
ion-list.aboutPage ion-item ion-label p {
	margin-block: 1rem;
}
ion-list.aboutPage ion-item ion-label p:first-child {
	margin-block-start: 0.25rem;
}
ion-list.aboutPage ion-item ion-label p:last-child {
	margin-block-end: 0.25rem;
}

section.talentTree {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	align-items: flex-end;
	justify-content: flex-start;
	padding-inline-end: 2rem;
}
section.talentTree p {
	margin-block-end: 0;
	font-style: italic;
}
section.talentTree ul {
	margin-inline-end: 2rem;
}
section.talentTree ul li {
	font-size: 0.95rem;
	margin-block: 0.15rem;
	font-style: italic;
}
