/* Archetypes */

div.archetype {
	margin: 1em 0;
}
div.archetype p {
	font-weight: bold;
	margin: 0;
}
div.archetype p:nth-child(n+2) {
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: normal;
	text-indent: 1.5em;
}

/* Spell Pages */

div.simpleStatblock p {
	margin-block: 0;
	padding: 0.2rem 0.25rem;
}
p:has(+ div.simpleStatblock) {
	margin-block-end: 0.25rem;
	padding-inline: 0.2rem;
}

/* About */

ion-list.aboutPage {
	padding-block: 0;
}
ion-list.aboutPage p.icons {
	display: grid;
	justify-items: center;
	justify-content: space-around;
}
ion-list.aboutPage p.icons ion-icon {
	margin: 0.75rem
}
ion-list.aboutPage p.icons:not(.icons19):not(.icons29) {
	grid-template-columns: repeat( auto-fit, minmax(2.75rem, 1fr) );
}
@media (width >= 37.5rem) { /* Base (10 / 9 / 10) */
	ion-list.aboutPage p.icons.icons29 {
		grid-template-areas:
			"aa aa aa aa aa aa aa aa aa ab ab ab ab ab ab ab ab ab ac ac ac ac ac ac ac ac ac ad ad ad ad ad ad ad ad ad ae ae ae ae ae ae ae ae ae af af af af af af af af af ag ag ag ag ag ag ag ag ag ah ah ah ah ah ah ah ah ah ai ai ai ai ai ai ai ai ai aj aj aj aj aj aj aj aj aj"
			"ak ak ak ak ak ak ak ak ak ak al al al al al al al al al al am am am am am am am am am am an an an an an an an an an an ao ao ao ao ao ao ao ao ao ao ap ap ap ap ap ap ap ap ap ap aq aq aq aq aq aq aq aq aq aq ar ar ar ar ar ar ar ar ar ar as as as as as as as as as as"
			"at at at at at at at at at au au au au au au au au au av av av av av av av av av aw aw aw aw aw aw aw aw aw ax ax ax ax ax ax ax ax ax ay ay ay ay ay ay ay ay ay az az az az az az az az az ba ba ba ba ba ba ba ba ba bb bb bb bb bb bb bb bb bb bc bc bc bc bc bc bc bc bc";
	}
}
@media (30.5rem <= width < 37.5rem) { /* 7 / 8 / 7 / 7 */
	ion-list.aboutPage p.icons.icons29 {
		grid-template-areas:
			"aa aa aa aa aa aa aa aa ab ab ab ab ab ab ab ab ac ac ac ac ac ac ac ac ad ad ad ad ad ad ad ad ae ae ae ae ae ae ae ae af af af af af af af af ag ag ag ag ag ag ag ag"
			"ah ah ah ah ah ah ah ai ai ai ai ai ai ai aj aj aj aj aj aj aj ak ak ak ak ak ak ak al al al al al al al am am am am am am am an an an an an an an ao ao ao ao ao ao ao"
			"ap ap ap ap ap ap ap aq aq aq aq aq aq aq aq ar ar ar ar ar ar ar ar as as as as as as as as at at at at at at at at au au au au au au au au au av av av av av av av av"
			"aw aw aw aw aw aw aw aw ax ax ax ax ax ax ax ax ay ay ay ay ay ay ay ay az az az az az az az az ba ba ba ba ba ba ba ba bb bb bb bb bb bb bb bb bc bc bc bc bc bc bc bc";
	}
}
@media (23rem <= width < 30.5rem) { /* 6 / 6 / 6 / 6 / 5 */
	ion-list.aboutPage p.icons.icons29 {
		grid-template-areas:
			"aa aa aa aa aa ab ab ab ab ab ac ac ac ac ac ad ad ad ad ad ae ae ae ae ae af af af af af"
			"ag ag ag ag ag ah ah ah ah ah ai ai ai ai ai aj aj aj aj aj ak ak ak ak ak al al al al al"
			"am am am am am an an an an an ao ao ao ao ao ap ap ap ap ap aq aq aq aq aq ar ar ar ar ar"
			"as as as as as at at at at at au au au au au av av av av av aw aw aw aw aw ax ax ax ax ax"
			"ay ay ay ay ay ay az az az az az az ba ba ba ba ba ba bb bb bb bb bb bb bc bc bc bc bc bc";
	}
}
@media (20rem <= width < 23rem) { /* 5 / 5 / 5 / 5 / 5 / 4 */
	ion-list.aboutPage p.icons.icons29 {
		grid-template-areas:
			"aa aa aa aa ab ab ab ab ac ac ac ac ad ad ad ad ae ae ae ae"
			"af af af af ag ag ag ag ah ah ah ah ai ai ai ai aj aj aj aj"
			"ak ak ak ak al al al al am am am am an an an an ao ao ao ao"
			"ap ap ap ap aq aq aq aq ar ar ar ar as as as as at at at at"
			"au au au au av av av av aw aw aw aw ax ax ax ax ay ay ay ay"
			"az az az az az ba ba ba ba ba bb bb bb bb bb bc bc bc bc bc";
	}
}
@media (16rem <= width < 20rem) { /* 3 / 4 / 3 / 3 / 3 / 3 / 3 / 4 / 3 */
	ion-list.aboutPage p.icons.icons29 {
		grid-template-areas:
			"aa aa aa aa ab ab ab ab ac ac ac ac"
			"ad ad ad ae ae ae af af af ag ag ag"
			"ah ah ah ah ai ai ai ai aj aj aj aj"
			"ak ak ak ak al al al al am am am am"
			"an an an an ao ao ao ao ap ap ap ap"
			"aq aq aq aq ar ar ar ar as as as as"
			"at at at at au au au au av av av av"
			"aw aw aw ax ax ax ay ay ay az az az"
			"ba ba ba ba bb bb bb bb bc bc bc bc";
	}
}
@media (width < 16rem) { /* free-for-all */
	ion-list.aboutPage p.icons.icons29 {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: stretch;
	}
}
@media (width > 78rem) { /* Base */
	ion-list.aboutPage p.icons.icons19 {
		grid-template-areas: "aa ab ac ad ae af ag ah ai aj ak al am an ao ap aq ar as";
	}
}
@media (37.5rem <= width <= 78rem) { /* 10 / 9 */
	ion-list.aboutPage p.icons.icons19 {
		grid-template-areas:
			"aa aa aa aa aa aa aa aa aa ab ab ab ab ab ab ab ab ab ac ac ac ac ac ac ac ac ac ad ad ad ad ad ad ad ad ad ae ae ae ae ae ae ae ae ae af af af af af af af af af ag ag ag ag ag ag ag ag ag ah ah ah ah ah ah ah ah ah ai ai ai ai ai ai ai ai ai aj aj aj aj aj aj aj aj aj"
			"ak ak ak ak ak ak ak ak ak ak al al al al al al al al al al am am am am am am am am am am an an an an an an an an an an ao ao ao ao ao ao ao ao ao ao ap ap ap ap ap ap ap ap ap ap aq aq aq aq aq aq aq aq aq aq ar ar ar ar ar ar ar ar ar ar as as as as as as as as as as";
	}
}
@media (27.5rem <= width < 37.5rem) { /* 6 / 7 / 6 */
	ion-list.aboutPage p.icons.icons19 {
		grid-template-areas:
			"aa aa aa aa aa aa aa ab ab ab ab ab ab ab ac ac ac ac ac ac ac ad ad ad ad ad ad ad ae ae ae ae ae ae ae af af af af af af af"
			"ag ag ag ag ag ag ah ah ah ah ah ah ai ai ai ai ai ai aj aj aj aj aj aj ak ak ak ak ak ak al al al al al al am am am am am am"
			"an an an an an an an ao ao ao ao ao ao ao ap ap ap ap ap ap ap aq aq aq aq aq aq aq ar ar ar ar ar ar ar as as as as as as as";
	}
}
@media (19.5rem <= width < 27.5rem) { /* 5 / 5 / 5 / 4 */
	ion-list.aboutPage p.icons.icons19 {
		grid-template-areas:
			"aa aa aa aa ab ab ab ab ac ac ac ac ad ad ad ad ae ae ae ae"
			"af af af af ag ag ag ag ah ah ah ah ai ai ai ai aj aj aj aj"
			"ak ak ak ak al al al al am am am am an an an an ao ao ao ao"
			"ap ap ap ap ap aq aq aq aq aq ar ar ar ar ar as as as as as";
	}
}
@media (width < 19.5rem) { /* free-for-all */
	ion-list.aboutPage p.icons.icons19 {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: stretch;
	}
}

ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:first-child {
	grid-area: aa;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(2) {
	grid-area: ab;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(3) {
	grid-area: ac;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(4) {
	grid-area: ad;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(5) {
	grid-area: ae;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(6) {
	grid-area: af;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(7) {
	grid-area: ag;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(8) {
	grid-area: ah;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(9) {
	grid-area: ai;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(10) {
	grid-area: aj;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(11) {
	grid-area: ak;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(12) {
	grid-area: al;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(13) {
	grid-area: am;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(14) {
	grid-area: an;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(15) {
	grid-area: ao;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(16) {
	grid-area: ap;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(17) {
	grid-area: aq;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(18) {
	grid-area: ar;
}
ion-list.aboutPage p.icons:is(.icons19,.icons29) ion-icon:nth-child(19) {
	grid-area: as;
}
ion-list.aboutPage p.icons.icons29 ion-icon:nth-child(20) {
	grid-area: at;
}
ion-list.aboutPage p.icons.icons29 ion-icon:nth-child(21) {
	grid-area: au;
}
ion-list.aboutPage p.icons.icons29 ion-icon:nth-child(22) {
	grid-area: av;
}
ion-list.aboutPage p.icons.icons29 ion-icon:nth-child(23) {
	grid-area: aw;
}
ion-list.aboutPage p.icons.icons29 ion-icon:nth-child(24) {
	grid-area: ax;
}
ion-list.aboutPage p.icons.icons29 ion-icon:nth-child(25) {
	grid-area: ay;
}
ion-list.aboutPage p.icons.icons29 ion-icon:nth-child(26) {
	grid-area: az;
}
ion-list.aboutPage p.icons.icons29 ion-icon:nth-child(27) {
	grid-area: ba;
}
ion-list.aboutPage p.icons.icons29 ion-icon:nth-child(28) {
	grid-area: bb;
}
ion-list.aboutPage p.icons.icons29 ion-icon:nth-child(29) {
	grid-area: bc;
}



ion-list.aboutPage ion-icon {
	color: var(--ion-text-color);
	width: 2rem;
	block-size: 2rem;
}
ion-list.aboutPage ion-item ion-label p {
	margin-block: 1rem;
}
ion-list.aboutPage ion-item ion-label p:first-child {
	margin-block-start: 0.25rem;
}
ion-list.aboutPage ion-item ion-label p:last-child {
	margin-block-end: 0.25rem;
}

section.talentTree {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	align-items: flex-end;
	justify-content: flex-start;
	padding-inline-end: 2rem;
}
section.talentTree p {
	margin-block-end: 0;
	font-style: italic;
}
section.talentTree ul {
	margin-inline-end: 2rem;
}
section.talentTree ul li {
	font-size: 0.95rem;
	margin-block: 0.15rem;
	font-style: italic;
}
