/* Statblocks */

/*statblockHeader(Full)?|statblockSubHeader*/

.hasStatblock p {
	margin: 0.5rem 0;
}
.hasStatblock p.statblockHeaderFull {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}
.hasStatblock p.statblockHeaderFull span:first-child {
	letter-spacing: 0.05rem;
	flex: 20 1 auto;
	display: inline-block;
}
.hasStatblock p.statblockHeaderFull span:last-child {
	flex: 1 0 auto;
	text-align: end;
	display: inline-block;
}
.hasStatblock p:is(.statblockHeaderFull,.statblockSubHeader,.statblockHeader) {
	text-transform: uppercase;
	font-variant: small-caps;
	font-weight: bold;
	padding: 0 0.25rem;
	margin: 0.75rem 0;
	border-width: 0.125rem 0;
	border-style: solid;
	border-color: var(--ion-text-color);
}
.hasStatblock p:is(.statblockHeader,.statblockHeaderFull) * {
	/*
		This is making a weird fading issue on page load... sometimes.
		I don't think jumplists (the thing that needs transitions) ever
			point to these headers, so it's safe to remove them here.
	*/
	transition: none;
}
.hasStatblock p.statblockSubHeader {
	letter-spacing: 0.1rem;
	font-weight: normal;
	font-size: 0.9rem;
}
.hasStatblock p:is(.statblockHeader,.statblockHeaderFull) {
	background: var(--ion-text-color);
	color: var(--ion-background-color);
}
.hasStatblock p.statblockHeader {
	letter-spacing: 0.1rem;
}
.hasStatblock p.statblockHeader.withSub {
	margin-block-end: 0.25rem;
}
.hasStatblock div.sub {
	font-size: 1.15rem;
	font-weight: bold;
	padding-block-start: 0;
}
.hasStatblock div.indent {
	text-indent: 1rem;
}
