/* Rules: Hierarchy */

div.hierarchyRulesInset {
	text-align: end;
	font-style: italic;
	font-weight: bold;
	margin-inline: 0.5rem;
	margin-block: 0.5rem;
}
div.hierarchyRulesInset span {
	white-space: nowrap;
}
div.basicContent > div:nth-child(2) h2 {
	margin-top: 0;
}

/* Rules: Subtopics */

div.subtopics {
	margin-inline: 1em;
	margin-block: 1.5em;
	padding: 0.5em;
	border-radius: 0.5em;
	background: var(--ion-color-light-shade);
}
div.subtopics ul {
	list-style: square;
	margin-block: 0;
	padding-block: 0;
}
div.subtopics li {
	margin-block: 0.5em;
	font-size: 0.875rem;
}
div.subtopics li a:link,
div.subtopics li a:visited,
div.subtopics li a:hover {
	text-decoration: none;
}

/* Rules: Prev/Next */

div.prevNext {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-block-start: 1.5em;
	margin-block-end: 1em;
}
div.prevNext.nextOnly {
	justify-content: end;
}
div.prevNext div.prev,
div.prevNext div.next {
	background-color: var(--background-faint);
	padding-inline: 0.5rem;
	width: max-content;
}
div.prevNext div.prev {
	border-radius: 0 1rem 1rem 0 / 0 1rem 1rem 0;
	margin-inline-end: 0.5rem;
}
div.prevNext div.next {
	border-radius: 1rem 0 0 1rem / 1rem 0 0 1rem;
	margin-inline-start: 0.5rem;
	text-align: end;
}
div.prevNext a:link,
div.prevNext a:visited,
div.prevNext a:hover  {
	color: var(--ion-color-secondary);
	text-decoration: none;
}
div.prevNext div div:first-child {
	font-size: smaller;
	white-space: nowrap;
}
