/* Global stuff */

ion-toast {
	--width: max-content;
	--max-width: 95vw;
}
ion-toast::part(container),
ion-toast::part(message) {
	text-align: center;
}
ion-checkbox div.label {
	white-space: normal;
}
ion-alert.horizontalButtons div.alert-button-group {
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-end;
	align-content: space-between;
}
ion-alert.horizontalButtons div.alert-button-group button.alert-button {
	margin: 0.25rem;
}
ion-alert button.alert-button.delete,
ion-alert button.alert-button.overwrite {
	background: var(--ion-color-danger);
	color: var(--ion-color-danger-contrast);
}
ion-alert button.alert-button.save {
	background: var(--ion-color-success);
	color: var(--ion-color-success-contrast);
}
ion-alert button.alert-button.cancel {
	background: var(--ion-color-medium);
	color: var(--ion-color-medium-contrast);
}
ion-alert h3.alert-sub-title {
	border-block-start: 0;
}

blockquote.hanging p {
	margin-block: 0.25rem;
	padding-inline-start: 1.5rem;
	text-indent: -1.5rem;
}

div.columnar {
	margin-inline: auto;
	margin-block: 1em;
}
div.columnar ul,
div.columnar ol {
	margin-block: 0;
}
@media (34rem > width > 25rem) {
	div.columnar:not(.max2) {
		columns: 2
	}
}
@media (55rem > width > 34rem) {
	div.columnar:not(.max2) {
		columns: 3
	}
}
@media (min-width: 55rem) {
	div.columnar.max2 {
		columns: 2
	}
	div.columnar:not(.max2):not(.max3) {
		columns: 4
	}
}

.capitalize {
	text-transform: capitalize;
}

span.innerlink {
	color: var(--ion-color-primary);
	text-decoration: underline;
	cursor: pointer;
}
h1, h2, h3, h4, h5, h6, div.headerLike {
	border-block-start-width: 0.3125rem;;
	border-block-end-width: 0.125rem;
	border-inline-start-width: 0;
	border-inline-end-width: 0;
	padding-block-start: 0.25rem;
	padding-inline-start: 0.1rem;
	border-block-start-color: var(--ion-color-light);
	border-block-end-color: var(--ion-color-light-shade);
	border-style: solid;
}
h3 {
	border-block-start-width: 0.25rem;
}
h4 {
	border-block-start-width: 0.1875rem;
	padding-block-start: 0.1875rem;
}
h5, h6 {
	border-block-start-width: 0.125rem;
	border-block-end-width: 0.0625rem;
	padding-block-start: 0.125rem;
}
h6 {
	border-block-start-width: 0.0625rem;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
div.headerLike:first-child,
.hierarchyInset + h1,
.hierarchyInset + h2,
.hierarchyInset + h3,
.hierarchyInset + h4,
.hierarchyInset + h5,
.hierarchyInset + h6,
.hierarchyInset + div.headerLike,
.jumpList + h1,
.jumpList + h2,
.jumpList + h3,
.jumpList + h4,
.jumpList + h5,
.jumpList + h6,
.jumpList + div.headerLike {
	border-block-start-width: 0;
}
div.headerLike {
	font-size: 1.5rem;
	margin-block-end: 1.35rem;
	font-weight: bold;
	line-height: 1.75rem;
}
div.headerLike div {
	margin-block-end: 0;
}
div.headerLike div.sub {
	font-size: 1.25rem;
	padding-block-start: 0;
	padding-inline-start: 1rem;
}

aside {
	margin-inline-start: 3.5rem;
	margin-inline-end: 2rem;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	box-shadow: inset var(--ion-color-light) 0 0 1.5rem 1rem;
}
aside p {
	margin-block: 0;
	text-align: justify;
	line-height: 1.25rem;
	font-size: 0.9rem;
}
aside p:first-child::first-letter {
	font-size: 1.25rem;
}
aside p + p {
	margin-block-start: 0.5rem;
}

/* Main */

li {
	font-size: 1rem;
	line-height: 1.35rem;
}
li + li {
	margin-block-start: 0.5rem;
}
section.footnotes li {
	font-size: 0.875rem;
}

strong.hl {
	color: var(--ion-color-tertiary);
}

strong.hl a {
	color: var(--ion-color-secondary);
}

ion-content {
	position: relative;
}
div.basicContent.simple,
div.basicContent ion-item.mainItem {
	user-select: text;
}
div.basicContent.simple {
	padding-inline: 1em;
	padding-block-end: 1rem;
}
ion-content hr {
	border-color: var(--ion-color-step-150);
	border-width: 0;
	border-top-width: 0.0625rem;
	border-style: solid;
}
ion-list ion-item.item-lines-default::part(native) {
	--border-width: 0 0 0.1875rem 0;
}
ion-list ion-item-divider {
	--color: var(--faded-text);
	font-weight: bold;
	font-size: 1rem;
	border-bottom-width: 0.1875rem;
}

/* Optional Headers */

/* Rules: Hierarchy */

div.hierarchyInset {
	text-align: end;
	font-style: italic;
	font-weight: bold;
	margin-inline: 0.5rem;
	margin-block-start: 0.5rem;
	margin-block-end: 0;
}
div.hierarchyRulesInset span {
	white-space: nowrap;
}
div.basicContent.hasInset > div:nth-child(2) h2 {
	margin-top: 0;
}

/* JumpList */

div.jumpList {
	background: var(--ion-color-light-shade);
	border: 0.125rem solid var(--ion-color-light-tint);
	border-radius: 1rem;
	margin: 0.5rem;
	text-align: end;
	float: inline-end;
	padding-inline: 0.625rem;
	padding-block: 0.25rem;
	margin-block-start: 0;
	max-width: calc(60% - 1rem - 0.25rem);
	z-index: 2;
	position: relative;
}
div.jumpList h2 {
	font-size: 1rem !important;
	margin-block-start: 0 !important;
	margin-block-end: 0.5rem !important;
}
div.jumpList ul {
	margin: 0;
	padding: 0;
}
div.jumpList ul li {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--ion-color-primary);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: end;
}
div.jumpList ul li::after {
	content: "\204d"; /* Equals &#8269; */
	display: block;
	padding-inline-start: 0.25em;
}
div.jumpToTop {
	position: fixed;
	z-index: 1;
	bottom: 6.5rem;
	right: calc(50% - 0.75rem);
	font-weight: bold;
	padding: 0.25rem;
	background: var(--ion-color-light-tint);
	border: 0.125rem solid var(--ion-color-secondary-shade);
	border-radius: 1rem;
	width: 1.5rem;
	text-align: center;
	color: var(--ion-color-secondary);
	text-decoration: none;
	cursor: pointer;
}
ion-content ion-fab.goToTop {
	opacity: 1;
	visibility: visible;
	transition: opacity 1s ease-out,visibility 0s;
	margin-top: 1.5rem;
}
ion-content.atTop ion-fab.goToTop {
	opacity: 0;
	visibility: hidden;
	transition: opacity 250ms ease-in,visibility 0s 255ms;
}

/* Footer */

ion-buttons.slotless {
	justify-content: center;
}

ion-action-sheet.historySheet div.action-sheet-group {
	display: flex;
	flex-flow: column-reverse nowrap;
	align-items: start;
}

ion-action-sheet.historySheet div.action-sheet-group button.action-sheet-button * {
	justify-content: start;
}

ion-action-sheet.historySheet.pagesNext div.action-sheet-group button.action-sheet-button * {
	justify-content: end;
}

ion-action-sheet.historySheet div.action-sheet-group button.action-sheet-button {
	color: var(--ion-color-secondary);
	font-size: 0.875rem;
	opacity: 0.5;
}

ion-action-sheet.historySheet div.action-sheet-group button.action-sheet-button:nth-child(5) {
	opacity: 0.6;
}

ion-action-sheet.historySheet div.action-sheet-group button.action-sheet-button:nth-child(4) {
	opacity: 0.7;
}

ion-action-sheet.historySheet div.action-sheet-group button.action-sheet-button:nth-child(3) {
	opacity: 0.8;
}

ion-action-sheet.historySheet div.action-sheet-group button.action-sheet-button:nth-child(2) {
	opacity: 0.9;
}

ion-action-sheet.historySheet div.action-sheet-group button.action-sheet-button:first-child {
	opacity: 1;
}

ion-action-sheet.historySheet div.action-sheet-group button.action-sheet-button.action-sheet-cancel {
	color: var(--ion-color-danger);
	opacity: 1;
}

/* Loading */

div.loadingPage {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}
div.loadingPage ion-text {
	display: block;
}
div.loadingPage ion-text {
	padding-block-end: 2rem;
}
div.loadingPage h1 {
	border: 0;
}

/* Sources Modal */

ion-item.sourceLink {
	color: var(--ion-color-primary);
}

/* Main */

div.main ion-list {
	padding-block: 0;
}
div.main ion-list ion-item.mainItem:first-child {
	padding-block-start: 0.25rem;
}
div.main ion-list ion-item.mainItem {
	text-align: start;
}
div.main ion-list ion-item.mainItem.indented {
	text-align: start;
}
div.main ion-list ion-item.mainItem.indented ion-label {
	padding-inline-start: 2rem;
}
div.main ion-list ion-item.mainItem.reversed {
	text-align: end;
}
div.main.basicContent ion-list ion-item.mainItem.linked ion-label,
div.main.basicContent ion-list ion-item.mainItem.linked {
	--color: var(--ion-color-primary);
	cursor: pointer;
}
div.main ion-list ion-item-divider.mainItem ion-label {
	--color: var(--faded-text);
	font-weight: bold;
	font-size: 1rem;
}

div.main.basicContent ion-list ion-item.mainItem.basic ion-label {
	--color: var(--ion-text-color);
	text-align: start;
	display: block;
}
div.main.basicContent ion-list ion-item.mainItem.basic ion-label p {
	color: var(--ion-text-color);
	margin-block-end: 0.85rem;
}
div.main.basicContent ion-list ion-item.mainItem.basic ion-label th p,
div.main.basicContent ion-list ion-item.mainItem.basic ion-label td p {
	margin-block-end: 0;
}
div.main.basicContent ion-list ion-item.mainItem.basic ion-label h2 {
	font-size: 1.5rem;
	margin-block-end: 1.35rem;
}
div.main.basicContent ion-list ion-item.mainItem.basic ion-label h3 {
	font-size: 1.35rem;
	margin-block-end: 1.25rem;
}
div.main.basicContent ion-list ion-item.mainItem.basic ion-label h4 {
	font-size: 1.25rem;
	margin-block-end: 1.15rem;
}
div.main.basicContent ion-list ion-item.mainItem.basic ion-label h5 {
	font-size: 1.15rem;
	margin-block-end: 1rem;
}
div.main.basicContent h2 a,
div.main.basicContent h3 a,
div.main.basicContent h4 a,
div.main.basicContent h5 a,
div.main.basicContent h6 a {
	text-decoration: none;
}

/* Statblocks */

.hasStatblock p {
	margin: 0.5rem 0;
}
.hasStatblock p.statblockHeaderFull {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}
.hasStatblock p.statblockHeaderFull span:first-child {
	letter-spacing: 0.05rem;
	flex: 3 0 auto;
}
.hasStatblock p.statblockHeaderFull span:last-child {
	flex: 0 1 auto;
}
.hasStatblock p.statblockHeaderFull,
.hasStatblock p.statblockSubHeader,
.hasStatblock p.statblockHeader {
	text-transform: uppercase;
	font-variant: small-caps;
	font-weight: bold;
	padding: 0 0.25rem;
	margin: 0.75rem 0;
	border-width: 0.125rem 0;
	border-style: solid;
	border-color: var(--ion-text-color);
}
.hasStatblock p.statblockSubHeader {
	letter-spacing: 0.1rem;
	font-weight: normal;
	font-size: 0.9rem;
}
.hasStatblock p.statblockHeaderFull,
.hasStatblock p.statblockHeader {
	background: var(--ion-text-color);
	color: var(--ion-background-color);
}
.hasStatblock p.statblockHeader {
	letter-spacing: 0.1rem;
}

/* General tables */

ion-button[slot=end] + ion-button[slot=end],
ion-buttons[slot=end] ion-button + ion-button {
	margin-inline-start: 0.5rem;
}
ion-button[slot=start] + ion-button[slot=start],
ion-buttons[slot=start] ion-button + ion-button {
	margin-inline-end: 0.5rem;
}
ion-button.tableFilterButton {
	float: inline-end;
	font-size: 0.65rem;
	margin-block: 0.5rem;
}
ion-modal ion-list[lines=full] {
	padding-block-start: 0;
	padding-block-end: 0;
}
div.listLike ion-item.itemLike::part(native) {
	border-block-end-width: 0.1875rem;
	border-block-end-color: var(--ion-color-step-50);
	border-block-end-style: solid;
	height: 3.125rem;;
	box-sizing: border-box;
	background: var(--ion-color-step-100);
}

div.tableWrap {
	overflow-x: auto;
	overflow-y: auto;
	width: max-content;
	max-width: calc(100% - 2rem);
	/*
		56px page header, (3.5rem)
		56px page footer, (3.5rem)
		16px margin on filter button, (1rem)
		filter button min-height (2.1em)
	max-height: calc(100vh - 3.5rem - 3.5rem - 1rem - 2.1em - 1rem);
	*/
	max-height: calc(100vh - 3.5rem - 3.5rem - 1rem);
	margin: 0 auto;
}
div.displayTable { /* Dunno if this is needed, but... */
	display: contents;
}
table {
	--half-width: 0.0625rem;
	--full-width: 0.125rem;
	background: var(--table-bg);
	border-style: solid;
	border-color: var(--table-border-color);
	border-width: var(--half-width) var(--full-width) var(--half-width) 0;
	border-collapse: separate !important;
	border-spacing: 0 !important;
	table-layout: fixed;
	position: relative;
}
table tr th,
table tr td {
	font-variant-numeric: tabular-nums;
	padding-inline: 0.5rem;
	padding-block: 0.25rem;
	border-style: solid;
	border-color: var(--table-border-color);
	border-width: var(--half-width) var(--full-width) var(--half-width) 0;
	text-align: center;
	vertical-align: middle;
	font-size: 0.875rem;
	line-height: 1.25rem;
	/* This is so linked cells will ripple */
	position: relative;
}
table tr th:last-child,
table tr td:last-child {
	border-width: var(--half-width) 0;
}
table thead tr th {
	position: sticky;
	inset-block-start: 0;
	color: var(--table-header-fg);
	background: var(--table-header-bg);
	border-width: var(--half-width) var(--full-width) var(--half-width) 0;
	z-index: 3;
}
table thead tr th:first-child {
	z-index: 4;
}
table tbody tr td:first-child {
	position: sticky;
	background: var(--table-bg);
	z-index: 2;
}
table thead tr th:first-child,
table tbody tr td:first-child {
	inset-inline-start: 0;
	border-inline-start-width: 0.125rem;
	border-width: var(--half-width) var(--full-width);
}
table tr td a {
	text-decoration: none;
}
table tr p {
	margin-block: 0;
}
table tr p + p {
	margin-block: 0.5rem;
}
table tr td.cell-link {
	color: var(--ion-color-primary);
	cursor: pointer;
}
table thead tr th.sortable {
	cursor: pointer;
}
table thead tr th.sortable div {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
table thead tr th.sortable div ion-icon {
	padding: 0;
	flex-shrink: 0;
}
table thead tr th.sortable div ion-icon.sortNil {
	color: var(--ion-color-step-250);
}
table thead tr th.sortable div ion-icon.sortArrow {
	color: var(--ion-color-secondary);
}

ion-modal ion-item.item ion-label.picker {
	cursor: pointer;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
}

ion-modal ion-item.item ion-label.picker ion-text.pickedText {
	color: var(--pickedColor, var(--ion-color-primary));
	border-bottom: 1px solid var(--pickedColor, var(--ion-color-primary));
	min-width: 2rem;
	display: inline-block;
	text-align: center;
	margin-inline: 1rem;
}
ion-modal ion-item.item ion-label.picker ion-text.pickedText::before {
	color: var(--ion-text-color);
	font-weight: bold;
	font-style: normal;
	content: '[ '
}
ion-modal ion-item.item ion-label.picker ion-text.pickedText::after {
	color: var(--ion-text-color);
	font-weight: bold;
	font-style: normal;
	content: ' ]'
}

ion-modal.pickerSheet {
	--height: calc((1.25rem * 13) + 3rem);
}
ion-modal.pickerSheet ion-content {
	display: flex;
	flex-flow: column nowrap;
	justify-content: safe center;
}

ion-picker.myPicker ion-picker-column {
	font-size: 1.25rem;
}
ion-picker.myPicker ion-picker-column [slot=prefix] {
	font-size: 1.5rem;
	max-width: 100%;
}

/* Hierarchy Modal */

ion-list.hierarchyModal ion-item.linked {
	--color: var(--ion-color-primary);
}
ion-list.hierarchyModal ion-item.indent1 ion-label {
	padding-left: 1.25em;
}
ion-list.hierarchyModal ion-item.indent2 ion-label {
	padding-left: 2.5em;
}
ion-list.hierarchyModal ion-item.indent3 ion-label {
	padding-left: 3.75em;
}
ion-list.hierarchyModal ion-item.indent4 ion-label {
	padding-left: 5em;
}
ion-list.hierarchyModal ion-item.indent5 ion-label {
	padding-left: 6.25em;
}

/* Main: Non-basic pages */

ion-item.mainItem.linked ion-label.endcap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
ion-item.mainItem.linked ion-label.bottomcap {
	display: block;
}
ion-item.mainItem.linked ion-label.bottomcap div:nth-child(2) {
	font-style: italic;
	font-size: 0.75rem;
	color: var(--ion-color-dark-tint);
}

/* Archetypes */

div.archetype {
	margin: 1em 0;
}
div.archetype p {
	font-size: 1rem;
	font-weight: bold;
	margin: 0;
}
div.archetype p:nth-child(n+2) {
	font-size: 0.875rem;
	font-weight: normal;
	text-indent: 1.5em;
}

/* Find in Page */

div.finder {
	position: sticky;
	top: 0;
	left: 0;
	width: calc(100% - 2rem);
	margin-inline: 1rem;
	z-index: 9999;
	background: var(--ion-color-step-100);
	padding-inline: 0.5rem;
	border-radius: 0 0 1rem 1rem;
	border-width: 0.0625rem;
	border-color: var(--ion-color-step-200);
	border-style: solid;
	border-block-start-width: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	max-height: 3.5rem;
	overflow: hidden;
	transition:
		transform ease-out 0.5s,
		max-height ease-out 0.5s,
		padding-block ease-out 0.5s,
		opacity 0s;
}
div.finder.hidden {
	transform: translateY(-2rem);
	max-height: 0;
	padding-block: 0;
	opacity: 0;
	transition:
		transform ease-in 0.5s,
		max-height ease-in 0.5s,
		padding-block ease-in 0.5s,
		opacity 0s 0.5s;
}
div.finder > * {
	flex: 0 0 auto;
}
div.finder ion-searchbar {
	margin-inline-end: 0.5rem;
	height: 2rem;
	flex: 1 1 50%;
}
div.finder ion-searchbar input {
	background: transparent;
}
div.finder span.count {
	margin: 0 1rem;
}
mark {
	background: var(--ion-color-tertiary);
	color: var(--ion-color-tertiary-contrast);
}
mark.current {
	background: var(--ion-color-success);
	color: var(--ion-color-success-contrast);
}
ion-popover ion-list[lines=full] {
	padding-block: 0;
}
ion-popover ion-list[lines=full] ion-item:last-child::part(native) {
	border-block-end: 0;
}
div.finder ion-icon.searchbar-search-icon {
	display: none !important;
}
div.finder input.searchbar-input {
	padding-inline: 1rem;
}

/* Feats Tree page */

div.featsTreePage {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	background: var(--ion-color-step-50);
}
div.featsTreePage section {
	background: var(--ion-background-color);
	overflow-x: auto;
	overflow-y: auto;
	max-height: calc(100vh - 3.5rem - 3.5rem - 0.5rem - 2.1em - 1rem);
	margin: 0 1rem;
	width: calc(100% - 3rem);
	max-width: calc(100% - 3rem);
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	border-radius: 0 0 1rem 1rem;
}
div.featsTreePage section + section {
	/*border: 0;
	border-inline-start: 0.25rem;
	border-style: solid;
	border-image:
		linear-gradient(
			to bottom,
			var(--ion-color-secondary),
			transparent 98%
		) 1 100%;*/
	padding-block-end: 0.75rem;
	margin-block-start: 1rem;
	border-radius: 1rem;
}
div.featsTreePage section p {
	padding: 0 1rem;
	position: relative;
	text-indent: 1.5rem;
	font-size: 0.875rem;
	line-height: 1rem;
	margin: 0.5rem 0
}
div.featsTreePage section div.leaf {
	display: flex;
	position: relative;
	padding: 0.75rem 0 0;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	background: var(--ion-background-color);
	padding-inline-start: 1rem;
}
div.featsTreePage section > div.leaf:first-child {
	padding: 0 1rem;
}
div.featsTreePage section div.leaf div.leafName {
	position: sticky;
	top: 0;
	width: 100%;
	height: 1.5rem;
	background: var(--ion-background-color);
	white-space: nowrap;
	z-index: 10;
}
div.featsTreePage section div.leaf div.leaf div.leafName {
	top: 1.5rem;
	z-index: 9;
}
div.featsTreePage section div.leaf div.leaf div.leaf div.leafName {
	top: 3rem;
	z-index: 8;
}
div.featsTreePage section div.leaf div.leaf div.leaf div.leaf div.leafName {
	top: 4.5rem;
	z-index: 7;
}
div.featsTreePage section div.leaf div.leaf div.leaf div.leaf div.leaf div.leafName {
	top: 6rem;
	z-index: 6;
}
div.featsTreePage section div.leaf div.leaf div.leaf div.leaf div.leaf div.leaf div.leafName {
	top: 7.5rem;
	z-index: 5;
}
div.featsTreePage section div.leaf div.leaf div.leaf div.leaf div.leaf div.leaf div.leafName {
	top: 9rem;
	z-index: 4;
}
div.featsTreePage section div.leaf div.leaf div.leaf div.leaf div.leaf div.leaf div.leaf div.leafName {
	top: 10.5rem;
	z-index: 3;
}
div.featsTreePage section div.leaf div.coparents {
	font-size: 0.85rem;
	line-height: 0.85rem;
}
div.featsTreePage section div.leaf div.coparents strong {
	color: var(--ion-color-secondary);
}
div.featsTreePage section > div.leaf:first-child > div.coparents > strong {
	color: var(--ion-color-tertiary);
	padding-inline-start: 0.5rem;
}

/* Scrolling to a feat on the Feats Tree page */

*.highlight[id] > div.leafName {
	background-color: var(--ion-color-success) !important;
	transition: background-color 0s ease-out 0.25s;
}
*.highlight[id] > div.leafName a {
	color: var(--ion-color-success-contrast) !important;
	transition: color 0s ease-out 0.25s;
}
*[id] > div.leafName {
	transition: background-color 0.5s ease-in 2.5s;
}
*[id] > div.leafName a {
	transition: color 0.5s ease-in 2.5s;
}
