/* Main */

li {
	font-size: 1rem;
	line-height: 1.35rem;
}
li + li {
	margin-block-start: 0.5rem;
}
section.footnotes li {
	font-size: 0.875rem;
}

div.highlight em strong,
div.highlight i b,
div.highlight strong em,
div.highlight b i {
	color: var(--ion-color-tertiary);
	font-style: normal;
}

ion-content {
	position: relative;
}
div.basicContent.simple,
div.basicContent ion-item.mainItem {
	user-select: text;
}
div.basicContent.simple {
	padding-inline: 1em;
}
ion-content hr {
	border-color: var(--ion-color-step-150);
	border-width: 0;
	border-top-width: 1px;
	border-style: solid;
}
ion-list ion-item.item-lines-default::part(native) {
	--border-width: 0 0 3px 0;
}
ion-list ion-item-divider {
	border-bottom-width: 3px;
}

/* Footer */

ion-buttons.slotless {
	justify-content: center;
}

ion-action-sheet.bottomEmph div.action-sheet-group button.action-sheet-button {
	color: var(--ion-color-secondary);
	font-size: 0.875rem;
	opacity: 0.5;
}

ion-action-sheet.bottomEmph div.action-sheet-group button.action-sheet-button:nth-last-child(5) {
	opacity: 0.6;
}

ion-action-sheet.bottomEmph div.action-sheet-group button.action-sheet-button:nth-last-child(4) {
	opacity: 0.7;
}

ion-action-sheet.bottomEmph div.action-sheet-group button.action-sheet-button:nth-last-child(3) {
	opacity: 0.8;
}

ion-action-sheet.bottomEmph div.action-sheet-group button.action-sheet-button:nth-last-child(2) {
	opacity: 0.9;
}

ion-action-sheet.bottomEmph div.action-sheet-group button.action-sheet-button:last-child {
	opacity: 1;
}

ion-action-sheet.bottomEmph div.action-sheet-group button.action-sheet-button.action-sheet-cancel {
	color: var(--ion-color-danger);
	opacity: 1;
}

/* Loading */

div.loadingPage {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}
div.loadingPage ion-text {
	display: block;
}
div.loadingPage ion-text {
	padding-block-end: 2rem;
}

/* Sources Modal */

ion-item.sourceLink {
	color: var(--ion-color-primary);
}

/* Main */

div.main ion-list ion-item.mainItem {
	text-align: start;
}
div.main ion-list ion-item.mainItem.indented {
	text-align: start;
}
div.main ion-list ion-item.mainItem.indented ion-label {
	padding-inline-start: 2rem;
}
div.main ion-list ion-item.mainItem.reversed {
	text-align: end;
}
div.main ion-list ion-item.mainItem.linked {
	--color: var(--ion-color-primary);
}
div.main ion-list ion-item-divider.mainItem ion-label {
	--color: var(--ion-color-step-800);
	font-weight: bold;
	font-size: 1rem;
}

div.main.basicContent ion-list ion-item.mainItem.basic ion-label {
	--color: var(--ion-text-color);
	text-align: start;
	display: block;
}
div.main.basicContent ion-list ion-item.mainItem.basic ion-label p {
	color: var(--ion-text-color);
	margin-block-end: 0.85rem;
}
div.main.basicContent ion-list ion-item.mainItem.basic ion-label th p,
div.main.basicContent ion-list ion-item.mainItem.basic ion-label td p {
	margin-block-end: 0;
}
div.main.basicContent ion-list ion-item.mainItem.basic ion-label h2 {
	font-size: 1.5rem;
	margin-block-end: 1.35rem;
}
div.main.basicContent ion-list ion-item.mainItem.basic ion-label h3 {
	font-size: 1.35rem;
	margin-block-end: 1.25rem;
}
div.main.basicContent ion-list ion-item.mainItem.basic ion-label h4 {
	font-size: 1.25rem;
	margin-block-end: 1.15rem;
}
div.main.basicContent ion-list ion-item.mainItem.basic ion-label h5 {
	font-size: 1.15rem;
	margin-block-end: 1rem;
}
div.main.basicContent h2 a,
div.main.basicContent h3 a,
div.main.basicContent h4 a,
div.main.basicContent h5 a,
div.main.basicContent h6 a {
	text-decoration: none;
}

div.basicContent ion-list ion-item.mainItem.singleTable {
	margin-block-start: 1em; /* bump past hierarchy tab */
}

/* General tables */

div.tableWrap {
	overflow-x: auto;
	width: 100%;
}
div.tableWrap table {
	margin: 0 auto;
}
table tr td {
	/* This is so linked cells will ripple */
	position: relative;
}
table {
	--tableborder: 2px solid var(--ion-color-light-tint);
	background: var(--ion-color-light-shade);
	border: var(--tableborder);
	border-collapse: collapse;
}
table tr th,
table tr td {
	font-variant-numeric: tabular-nums;
	padding-inline: 0.5em;
	padding-block: 0.25em;
	border-inline-end: var(--tableborder);
	text-align: center;
	vertical-align: middle;
	font-size: 0.875rem;
	line-height: 1.25rem;
	position: relative;
}
table tr td {
	text-align: var(--alignment);
}
table tr td a {
	text-decoration: none;
}
table tr td.cell-link {
	color: var(--ion-color-primary);
	cursor: pointer;
}
table,
table.faiths tr td:nth-child(3),
table.traits tr td:nth-child(2) {
	--alignment: center;
}
table.simple tr td:first-child,
table.poisons tr td:nth-child(5n+1),
table.endcaps tr td:first-child,
table.endcaps tr td:last-child,
table.infusions tr td:first-child,
table.infusions tr td:nth-child(n+6),
table.compositeblasts tr td:first-child,
table.compositeblasts tr td:nth-child(4n+2),
table.ioun tr td:first-child,
table.ioun tr td:nth-child(4),
table.traits,
table.faiths,
div.hasInfoTable table,
div.centerFirst tr td:last-child {
	--alignment: start;
}
table.archetypegrid tr td:first-child {
	--alignment: end;
}
table.simple
table tr th:first-child,
table tr td:first-child {
	border-inline-start: var(--tableborder);
}
table thead tr {
	border-bottom: var(--tableborder);
	background: var(--ion-color-light);
}
table tbody tr {
	border-bottom: var(--tableborder);
}
table tbody tr:last-child {
	border-bottom: 0;
}
table thead tr {
	position: sticky;
	top: 0;
}
table thead tr th.sortable {
	cursor: pointer;
}
table thead tr th.sortable div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
table thead tr th.sortable div ion-icon {
	padding-inline-start: 0.5rem;
	flex-shrink: 0;
}
table thead tr th.sortable div ion-icon.sortNil {
	color: var(--ion-color-step-250);
}
table thead tr th.sortable div ion-icon.sortArrow {
	color: var(--ion-color-secondary);
}

/* Hierarchy Modal */

ion-list.hierarchyModal ion-item.linked {
	--color: var(--ion-color-primary);
}
ion-list.hierarchyModal ion-item.indent1 ion-label {
	padding-left: 1.25em;
}
ion-list.hierarchyModal ion-item.indent2 ion-label {
	padding-left: 2.5em;
}
ion-list.hierarchyModal ion-item.indent3 ion-label {
	padding-left: 3.75em;
}
ion-list.hierarchyModal ion-item.indent4 ion-label {
	padding-left: 5em;
}
ion-list.hierarchyModal ion-item.indent5 ion-label {
	padding-left: 6.25em;
}

/* Main: Non-basic pages */

ion-item.mainItem.linked ion-label.endcap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
ion-item.mainItem.linked ion-label.endcap div:nth-child(2) {
	font-style: italic;
}
ion-item.mainItem.linked ion-label.bottomcap {
	display: block;
}
ion-item.mainItem.linked ion-label.bottomcap div:nth-child(2) {
	font-style: italic;
	font-size: 0.75rem;
	color: var(--ion-color-dark-tint);
}
