/* Bookmark Colors */

/*
	--color: Signature color for icons and such
	--color-bg: Color that can be used as a background for items, often with colored text on top
	--color-text: Color that is readable on the default background
	--*-dim: Dimmer versions of the above, for "inactive" elements
	For light backgrounds, --color-bg is often the same as --color.
	Dark backgrounds have --color-text the same as --color.
*/

@import url('./__Bookmarks.css');

/*
Non-working...

	color: transparent;
	background: linear-gradient(82deg, var(--red), var(--red) 45%, var(--orange) 55%);
	background-clip: text;

*/

/* Bookmark Icons */

ion-item.bmColor {
	--border-color: var(--ion-background-color);
}

div.basicContent.bookmarks ion-item.divider {
	--background: var(--ion-background-color);
	--border-width: 0;
	--min-height: 2rem;
}

div.basicContent.bookmarks ion-item.divider div.dummy {
	width: 1em;
}

div.basicContent.bookmarks ion-item.divider ion-label {
	margin-block: 0;
	padding-block: 0;
	display: flex;
	flex-flow: column nowrap;
}

div.basicContent.bookmarks ion-item.divider ion-label ion-icon {
	width: 100%;
}

ion-item.color-red {
	/* colored items get a color suitable as a background */
	--background: var(--red-bg);
}
ion-text.color-red {
	/* colored text uses a color that should be readable on a bare background */
	color: var(--red-text);
}
ion-item.color-red.dim {
	/* dim versions are dim */
	--background: var(--red-bg-dim);
}
ion-item.dim ion-text.color-red {
	/* dim versions are dim */
	color: var(--red-text-dim);
}
ion-icon.color-red {
	/* icons use a pure color */
	--pickedColor: var(--red);
	color: var(--red);
}
ion-item.color-red ion-toggle {
	/* toggles use a pure color */
	--handle-background-checked: var(--red);
	--track-background-checked: var(--ion-color-light);
}


ion-item.color-redorange {
	--background: var(--redorange-bg);
}
ion-text.color-redorange {
	color: var(--redorange-text);
}
ion-item.color-redorange.dim {
	--background: var(--redorange-bg-dim);
}
ion-item.dim ion-text.color-redorange {
	color: var(--redorange-text-dim);
}
ion-icon.color-redorange {
	--pickedColor: var(--redorange);
	color: var(--redorange);
}
ion-item.color-redorange ion-toggle {
	--handle-background-checked: var(--redorange);
	--track-background-checked: var(--ion-color-light);
}


ion-item.color-orange {
	--background: var(--orange-bg);
}
ion-text.color-orange {
	color: var(--orange-text);
}
ion-item.color-orange.dim {
	--background: var(--orange-bg-dim);
}
ion-icon.color-orange {
	--pickedColor: var(--orange);
	color: var(--orange);
}
ion-item.color-orange ion-toggle {
	--handle-background-checked: var(--orange);
	--track-background-checked: var(--ion-color-light);
}
ion-item.dim ion-text.color-orange {
	color: var(--orange-text-dim);
}


ion-item.color-lightorange {
	--background: var(--lightorange-bg);
}
ion-text.color-lightorange {
	color: var(--lightorange-text);
}
ion-item.color-lightorange.dim {
	--background: var(--lightorange-bg-dim);
}
ion-item.dim ion-text.color-lightorange {
	color: var(--lightorange-text-dim);
}
ion-icon.color-lightorange {
	--pickedColor: var(--lightorange);
	color: var(--lightorange);
}
ion-item.color-lightorange ion-toggle {
	--handle-background-checked: var(--lightorange);
	--track-background-checked: var(--ion-color-light);
}


ion-item.color-yellow {
	--background: var(--yellow-bg);
}
ion-text.color-yellow {
	color: var(--yellow-text);
}
ion-item.color-yellow.dim {
	--background: var(--yellow-bg-dim);
}
ion-icon.color-yellow {
	--pickedColor: var(--yellow);
	color: var(--yellow);
}
ion-item.color-yellow ion-toggle {
	--handle-background-checked: var(--yellow);
	--track-background-checked: var(--ion-color-light);
}
ion-item.dim ion-text.color-yellow {
	color: var(--yellow-text-dim);
}


ion-item.color-chartreuse {
	--background: var(--chartreuse-bg);
}
ion-text.color-chartreuse {
	color: var(--chartreuse-text);
}
ion-item.color-chartreuse.dim {
	--background: var(--chartreuse-bg-dim);
}
ion-icon.color-chartreuse {
	--pickedColor: var(--chartreuse);
	color: var(--chartreuse);
}
ion-item.color-chartreuse ion-toggle {
	--handle-background-checked: var(--chartreuse);
	--track-background-checked: var(--ion-color-light);
}
ion-item.dim ion-text.color-chartreuse {
	color: var(--chartreuse-text-dim);
}


ion-item.color-green {
	--background: var(--green-bg);
}
ion-text.color-green {
	color: var(--green-text);
}
ion-item.color-green.dim {
	--background: var(--green-bg-dim);
}
ion-icon.color-green {
	--pickedColor: var(--green);
	color: var(--green);
}
ion-item.color-green ion-toggle {
	--handle-background-checked: var(--green);
	--track-background-checked: var(--ion-color-light);
}
ion-item.dim ion-text.color-green {
	color: var(--green-text-dim);
}


ion-item.color-bluegreen {
	--background: var(--bluegreen-bg);
}
ion-text.color-bluegreen {
	color: var(--bluegreen-text);
}
ion-item.color-bluegreen.dim {
	--background: var(--bluegreen-bg-dim);
}
ion-item.dim ion-text.color-bluegreen {
	color: var(--bluegreen-text-dim);
}
ion-icon.color-bluegreen {
	--pickedColor: var(--bluegreen);
	color: var(--bluegreen);
}
ion-item.color-bluegreen ion-toggle {
	--handle-background-checked: var(--bluegreen);
	--track-background-checked: var(--ion-color-light);
}


ion-item.color-teal {
	--background: var(--teal-bg);
}
ion-text.color-teal {
	color: var(--teal-text);
}
ion-item.color-teal.dim {
	--background: var(--teal-bg-dim);
}
ion-item.dim ion-text.color-teal {
	color: var(--teal-text-dim);
}
ion-icon.color-teal {
	--pickedColor: var(--teal);
	color: var(--teal);
}
ion-item.color-teal ion-toggle {
	--handle-background-checked: var(--teal);
	--track-background-checked: var(--ion-color-light);
}


ion-item.color-cyan {
	--background: var(--cyan-bg);
}
ion-text.color-cyan {
	color: var(--cyan-text);
}
ion-item.color-cyan.dim {
	--background: var(--cyan-bg-dim);
}
ion-icon.color-cyan {
	--pickedColor: var(--cyan);
	color: var(--cyan);
}
ion-item.color-cyan ion-toggle {
	--handle-background-checked: var(--cyan);
	--track-background-checked: var(--ion-color-light);
}
ion-item.dim ion-text.color-cyan {
	color: var(--cyan-text-dim);
}


ion-item.color-blue {
	--background: var(--blue-bg);
}
ion-text.color-blue {
	color: var(--blue-text);
}
ion-item.color-blue.dim {
	--background: var(--blue-bg-dim);
}
ion-icon.color-blue {
	--pickedColor: var(--blue);
	color: var(--blue);
}
ion-item.color-blue ion-toggle {
	--handle-background-checked: var(--blue);
	--track-background-checked: var(--ion-color-light);
}
ion-item.dim ion-text.color-blue {
	color: var(--blue-text-dim);
}


ion-item.color-skyblue {
	--background: var(--skyblue-bg);
}
ion-text.color-skyblue {
	color: var(--skyblue-text);
}
ion-item.color-skyblue.dim {
	--background: var(--skyblue-bg-dim);
}
ion-item.dim ion-text.color-skyblue {
	color: var(--skyblue-text-dim);
}
ion-icon.color-skyblue {
	--pickedColor: var(--skyblue);
	color: var(--skyblue);
}
ion-item.color-skyblue ion-toggle {
	--handle-background-checked: var(--skyblue);
	--track-background-checked: var(--ion-color-light);
}


ion-item.color-purple {
	--background: var(--purple-bg);
}
ion-text.color-purple {
	color: var(--purple-text);
}
ion-item.color-purple.dim {
	--background: var(--purple-bg-dim);
}
ion-icon.color-purple {
	--pickedColor: var(--purple);
	color: var(--purple);
}
ion-item.color-purple ion-toggle {
	--handle-background-checked: var(--purple);
	--track-background-checked: var(--ion-color-light);
}
ion-item.dim ion-text.color-purple {
	color: var(--purple-text-dim);
}


ion-item.color-magenta {
	--background: var(--magenta-bg);
}
ion-text.color-magenta {
	color: var(--magenta-text);
}
ion-item.color-magenta.dim {
	--background: var(--magenta-bg-dim);
}
ion-icon.color-magenta {
	--pickedColor: var(--magenta);
	color: var(--magenta);
}
ion-item.color-magenta ion-toggle {
	--handle-background-checked: var(--magenta);
	--track-background-checked: var(--ion-color-light);
}
ion-item.dim ion-text.color-magenta {
	color: var(--magenta-text-dim);
}


ion-item.color-pink {
	--background: var(--pink-bg);
}
ion-text.color-pink {
	color: var(--pink-text);
}
ion-item.color-pink.dim {
	--background: var(--pink-bg-dim);
}
ion-icon.color-pink {
	--pickedColor: var(--pink);
	color: var(--pink);
}
ion-item.color-pink ion-toggle {
	--handle-background-checked: var(--pink);
	--track-background-checked: var(--ion-color-light);
}
ion-item.dim ion-text.color-pink {
	color: var(--pink-text-dim);
}


ion-item.color-brown {
	--background: var(--brown-bg);
}
ion-text.color-brown {
	color: var(--brown-text);
}
ion-item.color-brown.dim {
	--background: var(--brown-bg-dim);
}
ion-item.dim ion-text.color-brown {
	color: var(--brown-text-dim);
}
ion-icon.color-brown {
	--pickedColor: var(--brown);
	color: var(--brown);
}
ion-item.color-brown ion-toggle {
	--handle-background-checked: var(--brown);
	--track-background-checked: var(--ion-color-light);
}


ion-item.color-grey {
	--background: var(--grey-bg);
}
ion-text.color-grey {
	color: var(--grey-text);
}
ion-item.color-grey.dim {
	--background: var(--grey-bg-dim);
}
ion-item.dim ion-text.color-grey {
	color: var(--grey-text-dim);
}
ion-icon.color-grey {
	--pickedColor: var(--grey);
	color: var(--grey);
}
ion-item.color-grey ion-toggle {
	--handle-background-checked: var(--grey);
	--track-background-checked: var(--ion-color-light);
}


ion-item.color-bluegrey {
	--background: var(--bluegrey-bg);
}
ion-text.color-bluegrey {
	color: var(--bluegrey-text);
}
ion-item.color-bluegrey.dim {
	--background: var(--bluegrey-bg-dim);
}
ion-item.dim ion-text.color-bluegrey {
	color: var(--bluegrey-text-dim);
}
ion-icon.color-bluegrey {
	--pickedColor: var(--bluegrey);
	color: var(--bluegrey);
}
ion-item.color-bluegrey ion-toggle {
	--handle-background-checked: var(--bluegrey);
	--track-background-checked: var(--ion-color-light);
}

/* Bookmark HTML */

div.basicContent.bookmarks ion-list {
	padding-bottom: 0;
}
div.basicContent.bookmarks ion-list ion-item.link {
	position: relative;
}
div.basicContent.bookmarks ion-list ion-item.link ion-label {
	color: var(--ion-color-primary);
	cursor: pointer;
}
div.basicContent.bookmarks ion-list ion-item ion-icon[slot=start] {
	margin-inline-end: 1rem;
}
div.basicContent.bookmarks.importExport {
	padding-inline: 1rem;
}
div.basicContent.bookmarks.importExport div.block {
	background-color: var(--ion-color-step-50);
	border-radius: 0.5rem;
	text-align: center;
}
div.basicContent.bookmarks.importExport div.block > * {
	text-align: center;
}
div.basicContent.bookmarks.importExport div.block ion-list {
	width: min-content;
	margin: 0 auto;
	padding-block: 0;
	margin-bottom: 1rem;
}
div.basicContent.bookmarks.importExport div.block ion-list ion-item {
	--min-height: 1rem;
	--handle-height: 0.5rem;
	--border-color: var(--ion-color-step-50);
	border-radius: 0.5rem;
	margin-bottom: 0.125rem;
}
div.basicContent.bookmarks.importExport div.block ion-list ion-toggle {
	--handle-height: 0.75rem;
	--handle-width: 0.75rem;
	font-size: 0.75rem;
}
div.basicContent.bookmarks.importExport div.block ion-list ion-item::part(native) {
	padding-inline-start: 0.5rem;
	--border-width: 0;
	--inner-padding-end: 0.5rem;
}
div.basicContent.bookmarks.importExport div.block ion-list ion-toggle::part(label) {
	margin-block: 0.25rem;
	margin-inline-end: 0.5rem;
}
div.basicContent.bookmarks.importExport div.block ion-list ion-toggle::part(track) {
	width: 1.5rem;
	height: 0.75rem;
}
div.basicContent.bookmarks.importExport div.block ion-textarea {
	margin-block: 0.5rem;
	padding-inline: 1rem;
	text-align: start;
	height: 45vh;
	min-height: 5rem;
}
div.basicContent.bookmarks.importExport div.block ion-textarea .native-wrapper {
	background: transparent;
}
div.basicContent.bookmarks.importExport div.block ion-button {
	margin: 0.5rem auto;
}

ion-modal.importExportBookmarkModal ion-list ion-item.importOption {
	--background: var(--ion-color-step-100);
}
ion-modal.importExportBookmarkModal ion-list ion-item.importOption.unselected {
	--background: var(--ion-background-color);
}

ion-checkbox div.importBit {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	flex: 1 1;
}
ion-checkbox div.importBit div.icon {
	flex: 0 0 2rem;
}
ion-checkbox div.importBit div.text {
	flex: 1 1;
}
ion-checkbox::part(label) {
	flex: 1 1;
}
