/* Bookmarks */
ion-icon,
ion-item,
ion-text {
	--red: #d00;
	--red-fg: #300;
	--red-fg-dim: #3007;
	--red-bg: var(--red);
	--red-bg-dim: #d008;
	--orange: #e60;
	--orange-fg: #520;
	--orange-fg-dim: #5208;
	--orange-bg: var(--orange);
	--orange-bg-dim: #e608;
	--yellow: #cc0;
	--yellow-fg: #440;
	--yellow-fg-dim: #4408;
	--yellow-bg: var(--yellow);
	--yellow-bg-dim: #cc08;
	--chartreuse: #7c0;
	--chartreuse-fg: #240;
	--chartreuse-fg-dim: #2408;
	--chartreuse-bg: var(--chartreuse);
	--chartreuse-bg-dim: #6c08;
	--green: #0b0;
	--green-fg: #030;
	--green-fg-dim: #0308;
	--green-bg: var(--green);
	--green-bg-dim: #0b08;
	--cyan: #0bb;
	--cyan-fg: #033;
	--cyan-fg-dim: #0338;
	--cyan-bg: var(--cyan);
	--cyan-bg-dim: #0bb8;
	--blue: #44d;
	--blue-fg: #003;
	--blue-fg-dim: #0036;
	--blue-bg: var(--blue);
	--blue-bg-dim: #44d8;
	--purple: #62c;
	--purple-fg: #203;
	--purple-fg-dim: #2038;
	--purple-bg: var(--purple);
	--purple-bg-dim: #62c8;
	--magenta: #d0d;
	--magenta-fg: #404;
	--magenta-fg-dim: #4048;
	--magenta-bg: var(--magenta);
	--magenta-bg-dim: #d0d8;
	--pink: #f6c;
	--pink-fg: #412;
	--pink-fg-dim: #4128;
	--pink-bg: var(--pink);
	--pink-bg-dim: #f6c8;
}

/*
Non-working...

	color: transparent;
	background: linear-gradient(82deg, var(--red), var(--red) 45%, var(--orange) 55%);
	background-clip: text;

*/

/* Bookmark Icons */

ion-item.bmColor {
	--border-color: var(--ion-background-color);
}

@media (prefers-color-scheme: dark) {
	ion-icon,
	ion-item,
	ion-text {
		--red: #c00;
		--red-fg: var(--red);
		--red-fg-dim: #d006;
		--red-bg: #300;
		--red-bg-dim: #3004;
		--orange: #d60;
		--orange-fg: var(--orange);
		--orange-fg-dim: #e605;
		--orange-bg: #520;
		--orange-bg-dim: #5204;
		--yellow: #cc0;
		--yellow-fg: var(--yellow);
		--yellow-fg-dim: #cc04;
		--yellow-bg: #440;
		--yellow-bg-dim: #4404;
		--chartreuse: #7c0;
		--chartreuse-fg: var(--chartreuse);
		--chartreuse-fg-dim: #6b05;
		--chartreuse-bg: #240;
		--chartreuse-bg-dim: #2404;
		--green: #0a0;
		--green-fg: var(--green);
		--green-fg-dim: #0b04;
		--green-bg: #030;
		--green-bg-dim: #0304;
		--cyan: #599;
		--cyan-fg: var(--cyan);
		--cyan-fg-dim: #8bb4;
		--cyan-bg: #033;
		--cyan-bg-dim: #0334;
		--blue: #55d;
		--blue-fg: var(--blue);
		--blue-fg-dim: #66d8;
		--blue-bg: #114;
		--blue-bg-dim: #0044;
		--purple: #73d;
		--purple-fg: var(--purple);
		--purple-fg-dim: #64c6;
		--purple-bg: #203;
		--purple-bg-dim: #2034;
		--magenta: #c3b;
		--magenta-fg: var(--magenta);
		--magenta-fg-dim: #d3c4;
		--magenta-bg: #404;
		--magenta-bg-dim: #4044;
		--pink: #f6c;
		--pink-fg: var(--pink);
		--pink-fg-dim: #f6c4;
		--pink-bg: #513;
		--pink-bg-dim: #5134;
	}
}

ion-item.color-red {
	--background: var(--red-bg);
}
ion-text.color-fg-red {
	color: var(--red-fg);
}
ion-item.color-red.dim {
	--background: var(--red-bg-dim);
}
ion-icon.color-red,
ion-text.color-red {
	color: var(--red);
}
ion-item.dim ion-text.color-fg-red {
	color: var(--red-fg-dim);
}
ion-icon.color-red-orange {
	color: var(--red);
	background: var(--orange);
	border-radius: 0.5rem;
}
ion-icon.color-red-yellow {
	color: var(--red);
	background: var(--yellow);
	border-radius: 0.5rem;
}
ion-icon.color-red-green {
	color: var(--red);
	background: var(--green);
	border-radius: 0.5rem;
}
ion-icon.color-red-chartreuse {
	color: var(--red);
	background: var(--chartreuse);
	border-radius: 0.5rem;
}
ion-icon.color-red-cyan {
	color: var(--red);
	background: var(--cyan);
	border-radius: 0.5rem;
}
ion-icon.color-red-blue {
	color: var(--red);
	background: var(--blue);
	border-radius: 0.5rem;
}
ion-icon.color-red-purple {
	color: var(--red);
	background: var(--purple);
	border-radius: 0.5rem;
}
ion-icon.color-red-magenta {
	color: var(--red);
	background: var(--magenta);
	border-radius: 0.5rem;
}
ion-icon.color-red-pink {
	color: var(--red);
	background: var(--pink);
	border-radius: 0.5rem;
}


ion-item.color-orange {
	--background: var(--orange-bg);
}
ion-text.color-fg-orange {
	color: var(--orange-fg);
}
ion-item.color-orange.dim {
	--background: var(--orange-bg-dim);
}
ion-icon.color-orange,
ion-text.color-orange {
	color: var(--orange);
}
ion-item.dim ion-text.color-fg-orange {
	color: var(--orange-fg-dim);
}
ion-icon.color-orange-red {
	color: var(--orange);
	background: var(--red);
	border-radius: 0.5rem;
}
ion-icon.color-orange-yellow {
	color: var(--orange);
	background: var(--yellow);
	border-radius: 0.5rem;
}
ion-icon.color-orange-green {
	color: var(--orange);
	background: var(--green);
	border-radius: 0.5rem;
}
ion-icon.color-orange-chartreuse {
	color: var(--orange);
	background: var(--chartreuse);
	border-radius: 0.5rem;
}
ion-icon.color-orange-cyan {
	color: var(--orange);
	background: var(--cyan);
	border-radius: 0.5rem;
}
ion-icon.color-orange-blue {
	color: var(--orange);
	background: var(--blue);
	border-radius: 0.5rem;
}
ion-icon.color-orange-purple {
	color: var(--orange);
	background: var(--purple);
	border-radius: 0.5rem;
}
ion-icon.color-orange-magenta {
	color: var(--orange);
	background: var(--magenta);
	border-radius: 0.5rem;
}
ion-icon.color-orange-pink {
	color: var(--orange);
	background: var(--pink);
	border-radius: 0.5rem;
}


ion-item.color-yellow {
	--background: var(--yellow-bg);
}
ion-text.color-fg-yellow {
	color: var(--yellow-fg);
}
ion-item.color-yellow.dim {
	--background: var(--yellow-bg-dim);
}
ion-icon.color-yellow,
ion-text.color-yellow {
	color: var(--yellow);
}
ion-item.dim ion-text.color-fg-yellow {
	color: var(--yellow-fg-dim);
}
ion-icon.color-yellow-red {
	color: var(--yellow);
	background: var(--red);
	border-radius: 0.5rem;
}
ion-icon.color-yellow-orange {
	color: var(--yellow);
	background: var(--orange);
	border-radius: 0.5rem;
}
ion-icon.color-yellow-green {
	color: var(--yellow);
	background: var(--green);
	border-radius: 0.5rem;
}
ion-icon.color-yellow-chartreuse {
	color: var(--yellow);
	background: var(--chartreuse);
	border-radius: 0.5rem;
}
ion-icon.color-yellow-cyan {
	color: var(--yellow);
	background: var(--cyan);
	border-radius: 0.5rem;
}
ion-icon.color-yellow-blue {
	color: var(--yellow);
	background: var(--blue);
	border-radius: 0.5rem;
}
ion-icon.color-yellow-purple {
	color: var(--yellow);
	background: var(--purple);
	border-radius: 0.5rem;
}
ion-icon.color-yellow-magenta {
	color: var(--yellow);
	background: var(--magenta);
	border-radius: 0.5rem;
}
ion-icon.color-yellow-pink {
	color: var(--yellow);
	background: var(--pink);
	border-radius: 0.5rem;
}


ion-item.color-green {
	--background: var(--green-bg);
}
ion-text.color-fg-green {
	color: var(--green-fg);
}
ion-item.color-green.dim {
	--background: var(--green-bg-dim);
}
ion-icon.color-green,
ion-text.color-green {
	color: var(--green);
}
ion-item.dim ion-text.color-fg-green {
	color: var(--green-fg-dim);
}
ion-icon.color-green-red {
	color: var(--green);
	background: var(--red);
	border-radius: 0.5rem;
}
ion-icon.color-green-orange {
	color: var(--green);
	background: var(--orange);
	border-radius: 0.5rem;
}
ion-icon.color-green-yellow {
	color: var(--green);
	background: var(--yellow);
	border-radius: 0.5rem;
}
ion-icon.color-green-chartreuse {
	color: var(--green);
	background: var(--chartreuse);
	border-radius: 0.5rem;
}
ion-icon.color-green-cyan {
	color: var(--green);
	background: var(--cyan);
	border-radius: 0.5rem;
}
ion-icon.color-green-blue {
	color: var(--green);
	background: var(--blue);
	border-radius: 0.5rem;
}
ion-icon.color-green-purple {
	color: var(--green);
	background: var(--purple);
	border-radius: 0.5rem;
}
ion-icon.color-green-magenta {
	color: var(--green);
	background: var(--magenta);
	border-radius: 0.5rem;
}
ion-icon.color-green-pink {
	color: var(--green);
	background: var(--pink);
	border-radius: 0.5rem;
}


ion-item.color-chartreuse {
	--background: var(--chartreuse-bg);
}
ion-text.color-fg-chartreuse {
	color: var(--chartreuse-fg);
}
ion-item.color-chartreuse.dim {
	--background: var(--chartreuse-bg-dim);
}
ion-icon.color-chartreuse,
ion-text.color-chartreuse {
	color: var(--chartreuse);
}
ion-item.dim ion-text.color-fg-chartreuse {
	color: var(--chartreuse-fg-dim);
}
ion-icon.color-chartreuse-red {
	color: var(--chartreuse);
	background: var(--red);
	border-radius: 0.5rem;
}
ion-icon.color-chartreuse-orange {
	color: var(--chartreuse);
	background: var(--orange);
	border-radius: 0.5rem;
}
ion-icon.color-chartreuse-yellow {
	color: var(--chartreuse);
	background: var(--yellow);
	border-radius: 0.5rem;
}
ion-icon.color-chartreuse-green {
	color: var(--chartreuse);
	background: var(--green);
	border-radius: 0.5rem;
}
ion-icon.color-chartreuse-cyan {
	color: var(--chartreuse);
	background: var(--cyan);
	border-radius: 0.5rem;
}
ion-icon.color-chartreuse-blue {
	color: var(--chartreuse);
	background: var(--blue);
	border-radius: 0.5rem;
}
ion-icon.color-chartreuse-purple {
	color: var(--chartreuse);
	background: var(--purple);
	border-radius: 0.5rem;
}
ion-icon.color-chartreuse-magenta {
	color: var(--chartreuse);
	background: var(--magenta);
	border-radius: 0.5rem;
}
ion-icon.color-chartreuse-pink {
	color: var(--chartreuse);
	background: var(--pink);
	border-radius: 0.5rem;
}


ion-item.color-cyan {
	--background: var(--cyan-bg);
}
ion-text.color-fg-cyan {
	color: var(--cyan-fg);
}
ion-item.color-cyan.dim {
	--background: var(--cyan-bg-dim);
}
ion-icon.color-cyan,
ion-text.color-cyan {
	color: var(--cyan);
}
ion-item.dim ion-text.color-fg-cyan {
	color: var(--cyan-fg-dim);
}
ion-icon.color-cyan-red {
	color: var(--cyan);
	background: var(--red);
	border-radius: 0.5rem;
}
ion-icon.color-cyan-orange {
	color: var(--cyan);
	background: var(--orange);
	border-radius: 0.5rem;
}
ion-icon.color-cyan-yellow {
	color: var(--cyan);
	background: var(--yellow);
	border-radius: 0.5rem;
}
ion-icon.color-cyan-green {
	color: var(--cyan);
	background: var(--green);
	border-radius: 0.5rem;
}
ion-icon.color-cyan-chartreuse {
	color: var(--cyan);
	background: var(--chartreuse);
	border-radius: 0.5rem;
}
ion-icon.color-cyan-blue {
	color: var(--cyan);
	background: var(--blue);
	border-radius: 0.5rem;
}
ion-icon.color-cyan-purple {
	color: var(--cyan);
	background: var(--purple);
	border-radius: 0.5rem;
}
ion-icon.color-cyan-magenta {
	color: var(--cyan);
	background: var(--magenta);
	border-radius: 0.5rem;
}
ion-icon.color-cyan-pink {
	color: var(--cyan);
	background: var(--pink);
	border-radius: 0.5rem;
}


ion-item.color-blue {
	--background: var(--blue-bg);
}
ion-text.color-fg-blue {
	color: var(--blue-fg);
}
ion-item.color-blue.dim {
	--background: var(--blue-bg-dim);
}
ion-icon.color-blue,
ion-text.color-blue {
	color: var(--blue);
}
ion-item.dim ion-text.color-fg-blue {
	color: var(--blue-fg-dim);
}
ion-icon.color-blue-red {
	color: var(--blue);
	background: var(--red);
	border-radius: 0.5rem;
}
ion-icon.color-blue-orange {
	color: var(--blue);
	background: var(--orange);
	border-radius: 0.5rem;
}
ion-icon.color-blue-yellow {
	color: var(--blue);
	background: var(--yellow);
	border-radius: 0.5rem;
}
ion-icon.color-blue-green {
	color: var(--blue);
	background: var(--green);
	border-radius: 0.5rem;
}
ion-icon.color-blue-chartreuse {
	color: var(--blue);
	background: var(--chartreuse);
	border-radius: 0.5rem;
}
ion-icon.color-blue-cyan {
	color: var(--blue);
	background: var(--cyan);
	border-radius: 0.5rem;
}
ion-icon.color-blue-purple {
	color: var(--blue);
	background: var(--purple);
	border-radius: 0.5rem;
}
ion-icon.color-blue-magenta {
	color: var(--blue);
	background: var(--magenta);
	border-radius: 0.5rem;
}
ion-icon.color-blue-pink {
	color: var(--blue);
	background: var(--pink);
	border-radius: 0.5rem;
}


ion-item.color-purple {
	--background: var(--purple-bg);
}
ion-text.color-fg-purple {
	color: var(--purple-fg);
}
ion-item.color-purple.dim {
	--background: var(--purple-bg-dim);
}
ion-icon.color-purple,
ion-text.color-purple {
	color: var(--purple);
}
ion-item.dim ion-text.color-fg-purple {
	color: var(--purple-fg-dim);
}
ion-icon.color-purple-red {
	color: var(--purple);
	background: var(--red);
	border-radius: 0.5rem;
}
ion-icon.color-purple-orange {
	color: var(--purple);
	background: var(--orange);
	border-radius: 0.5rem;
}
ion-icon.color-purple-yellow {
	color: var(--purple);
	background: var(--yellow);
	border-radius: 0.5rem;
}
ion-icon.color-purple-green {
	color: var(--purple);
	background: var(--green);
	border-radius: 0.5rem;
}
ion-icon.color-purple-chartreuse {
	color: var(--purple);
	background: var(--chartreuse);
	border-radius: 0.5rem;
}
ion-icon.color-purple-cyan {
	color: var(--purple);
	background: var(--cyan);
	border-radius: 0.5rem;
}
ion-icon.color-purple-blue {
	color: var(--purple);
	background: var(--blue);
	border-radius: 0.5rem;
}
ion-icon.color-purple-magenta {
	color: var(--purple);
	background: var(--magenta);
	border-radius: 0.5rem;
}
ion-icon.color-purple-pink {
	color: var(--purple);
	background: var(--pink);
	border-radius: 0.5rem;
}


ion-item.color-magenta {
	--background: var(--magenta-bg);
}
ion-text.color-fg-magenta {
	color: var(--magenta-fg);
}
ion-item.color-magenta.dim {
	--background: var(--magenta-bg-dim);
}
ion-icon.color-magenta,
ion-text.color-magenta {
	color: var(--magenta);
}
ion-item.dim ion-text.color-fg-magenta {
	color: var(--magenta-fg-dim);
}
ion-icon.color-magenta-red {
	color: var(--magenta);
	background: var(--red);
	border-radius: 0.5rem;
}
ion-icon.color-magenta-orange {
	color: var(--magenta);
	background: var(--orange);
	border-radius: 0.5rem;
}
ion-icon.color-magenta-yellow {
	color: var(--magenta);
	background: var(--yellow);
	border-radius: 0.5rem;
}
ion-icon.color-magenta-green {
	color: var(--magenta);
	background: var(--green);
	border-radius: 0.5rem;
}
ion-icon.color-magenta-chartreuse {
	color: var(--magenta);
	background: var(--chartreuse);
	border-radius: 0.5rem;
}
ion-icon.color-magenta-cyan {
	color: var(--magenta);
	background: var(--cyan);
	border-radius: 0.5rem;
}
ion-icon.color-magenta-blue {
	color: var(--magenta);
	background: var(--blue);
	border-radius: 0.5rem;
}
ion-icon.color-magenta-purple {
	color: var(--magenta);
	background: var(--purple);
	border-radius: 0.5rem;
}
ion-icon.color-magenta-pink {
	color: var(--magenta);
	background: var(--pink);
	border-radius: 0.5rem;
}


ion-item.color-pink {
	--background: var(--pink-bg);
}
ion-text.color-fg-pink {
	color: var(--pink-fg);
}
ion-item.color-pink.dim {
	--background: var(--pink-bg-dim);
}
ion-icon.color-pink,
ion-text.color-pink {
	color: var(--pink);
}
ion-item.dim ion-text.color-fg-pink {
	color: var(--pink-fg-dim);
}
ion-icon.color-pink-red {
	color: var(--pink);
	background: var(--red);
	border-radius: 0.5rem;
}
ion-icon.color-pink-orange {
	color: var(--pink);
	background: var(--orange);
	border-radius: 0.5rem;
}
ion-icon.color-pink-yellow {
	color: var(--pink);
	background: var(--yellow);
	border-radius: 0.5rem;
}
ion-icon.color-pink-green {
	color: var(--pink);
	background: var(--green);
	border-radius: 0.5rem;
}
ion-icon.color-pink-chartreuse {
	color: var(--pink);
	background: var(--chartreuse);
	border-radius: 0.5rem;
}
ion-icon.color-pink-cyan {
	color: var(--pink);
	background: var(--cyan);
	border-radius: 0.5rem;
}
ion-icon.color-pink-blue {
	color: var(--pink);
	background: var(--blue);
	border-radius: 0.5rem;
}
ion-icon.color-pink-purple {
	color: var(--pink);
	background: var(--purple);
	border-radius: 0.5rem;
}
ion-icon.color-pink-magenta {
	color: var(--pink);
	background: var(--magenta);
	border-radius: 0.5rem;
}
