ion-menu ion-content {
	--background: var(--ion-item-background, var(--ion-background-color));
}

ion-menu ion-content {
	--padding-start: 0.5rem;
	--padding-end: 0.5rem;
	--padding-top: 1.25rem;
	--padding-bottom: 1.25rem;
}

ion-menu ion-list {
	padding: 1.25rem 0;
}

ion-menu ion-list-header {
	color: var(--ion-color-secondary);
	font-size: 1.5rem;
	font-weight: bold;
	min-height: 1.25rem;
	text-align: end;
	margin-block-end: 0.5rem;
}

ion-menu ion-list-header,
ion-menu ion-list ion-item.endSection {
	border-block-end: 0.0625rem solid var(--ion-color-step-150);
}

ion-menu hr {
	border-color: var(--ion-color-step-150);
	border-width: 0;
	border-top-width: 0.0625rem;
	border-style: solid;
}

ion-menu ion-list ion-item.endSection {
	padding-block-end: 0.5rem;
}

ion-menu ion-list ion-item.topSection {
	padding-block-start: 0.5rem;
}

ion-menu ion-item {
	--padding-start: 0.625rem;
	--padding-end: 0.625rem;
	border-radius: 0.25rem;
}

ion-menu ion-item.linked {
	cursor: pointer;
	position: relative;
}

ion-menu ion-item.selected {
	--background: rgba(var(--ion-color-primary-rgb), 0.14);
	--color: var(--ion-color-primary);
}

ion-menu ion-item.selected ion-icon {
	color: var(--ion-color-primary);
}

ion-menu ion-item ion-icon {
	color: var(--ion-color-step-350);
}

ion-menu ion-item ion-label {
	font-weight: normal;
}
