ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu ion-list {
  padding: 20px 0;
}

ion-menu ion-list-header {
  color: var(--ion-color-secondary);
  font-size: 1.5rem;
  font-weight: bold;
  min-height: 20px;
  text-align: end;
  margin-block-end: 0.5rem;
}

ion-menu ion-list-header,
ion-menu ion-list ion-item.endSection {
  border-block-end: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu ion-list ion-item.endSection {
  padding-block-end: 0.5rem;
}

ion-menu ion-list ion-item.topSection {
  padding-block-start: 0.5rem;
}

ion-menu ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
  --color: var(--ion-color-primary);
}

ion-menu ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu ion-item ion-icon {
  color: #616e7e;
}

ion-menu ion-item ion-label {
  font-weight: normal;
}
